In [52]:
# it shoul be more generic loader of arff files, but CKD dataset has problems so here is preprocessing:
# piece of code from https://stackoverflow.com/questions/62653514/open-an-arff-file-with-scipy-io
import pandas as pd

data = []
with open('.\dataset\chronic_kidney_disease_full.arff', "r") as f:
    for line in f:
        line = line.replace('\n', '')
        data.append(line.split(','))


names = ['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba',
         'bgr', 'bu',  'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc',
         'rbcc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane',
         'class', 'no_name']

# actual data starts from 144 line for this arff file
df = pd.DataFrame(data[145:], columns=names)
df.drop(columns=['no_name'], inplace=True)

In [53]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48,80,1.020,1,0,?,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.020,4,0,?,normal,notpresent,notpresent,?,...,38,6000,?,no,no,no,good,no,no,ckd
2,62,80,1.010,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.010,2,0,normal,normal,notpresent,notpresent,106,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [54]:
import numpy as np

df.replace('?', np.nan, inplace=True)

In [55]:
df.isna().sum()

age        9
bp        14
sg        49
al        48
su        51
rbc      154
pc        67
pcc        6
ba         6
bgr       46
bu        21
sc        19
sod       89
pot       90
hemo      54
pcv       72
wbcc     107
rbcc     132
htn        4
dm         4
cad        4
appet      3
pe         3
ane        3
class      2
dtype: int64

In [56]:
# From documentation of the dataset
NumericalColumns = ['age','bp','bgr','bu','sc','sod','pot','pcv','hemo','wbcc','rbcc',]
CategoricalColumns = ['al','su','rbc','sg','pc','pcc','ba','htn','dm','cad','appet','pe','ane']

In [57]:
df['class'].replace("ckd\t","ckd",inplace=True)

df['dm'].replace(["\tno","\tyes"," yes"],["no","yes","yes"],inplace=True)

df['cad'].replace(["\tno"],["no"],inplace=True)

In [46]:
df['rbcc'].replace("\t?",None, inplace=True)

df['wbcc'].replace("\t?",None, inplace=True)

df['pcv'].replace(["\t?","\t43"],None, inplace=True)

In [50]:
for columnName in CategoricalColumns:
  df[columnName].fillna(df[columnName].mode(), inplace=True)

In [48]:
df[NumericalColumns] = df[NumericalColumns].apply(pd.to_numeric)

for columnName in NumericalColumns:
  df[columnName].fillna(df[columnName].mean(), inplace=True)

In [51]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1,0,normal,normal,notpresent,notpresent,121.000000,...,44.0,7800.0,5.200000,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4,0,NaN,normal,notpresent,notpresent,148.036517,...,38.0,6000.0,4.707435,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2,3,normal,normal,notpresent,notpresent,423.000000,...,31.0,7500.0,4.707435,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4,0,normal,abnormal,present,notpresent,117.000000,...,32.0,6700.0,3.900000,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2,0,normal,normal,notpresent,notpresent,106.000000,...,35.0,7300.0,4.600000,no,no,no,good,no,no,ckd